.box-hd h1{
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 68px;
    color: #757575;
   width: 200px;
}
.box-hd{
    position: relative;
}
.box-hd small{
    position: absolute;
    margin-left: 10px;
    font-size: 12px;
    line-height: 1.5;
}
.box-hd a{
    text-decoration: none;
    color: #757575;
}
.more ul{
    float: left;
    margin: 0;
    padding: 18px 0;
    list-style-type: none;
    font-size: 16px;
    line-height: 1.25;
}
.more li{
    float: left;
    margin-left: 40px;
}
.main-content{
    width: 900px;
    height: 300px;
    margin-left: 50px;
}
input{
    position: absolute;
    top: 70px;
    right: 60px;
    z-index: 1;
    width: 189px;
    height: 40px;
    padding: 0 15px;
    border: 1px solid #e0e0e0;
    font-size: 12px;
    line-height: 40px;
    outline: 0;
    color: #757575;
    -webkit-transition: all .2s;
    transition: all .2s;
}