.header{
    position: relative;
    height: 140px;
    /* width: 1906px; */
    margin: 0 auto;
}
/* 设置导航栏的背景属性 */
.black_nav{
    position: relative; 
     z-index: 30;
     width: 100%;
    height: 40px;
    font-size: 12px;
    color:#424242;
    background: #333;
}
/* 设置字体位置 */
.container{
    width: 1226px;
    margin-right: auto;  
    margin-left: auto;
}
/* 设置为表格样式 */
.container::before {
    content: " ";
    display: table;
}
/* 设置左端文字左浮动,高度，行高*/
.left_ul{
    float: left;
    height: 40px;
    line-height: 40px;
  
}
.other-promo .max{
height: 248px;
}
/* 设置右端文字右浮动 ，定位，宽高*/
.right_ul{
    position: relative;
    float: right;
    height: 40px;
    line-height: 40px;
} 
/* 设置列表成为一行 */
.l{
    float: left;
   
}
/* 设置黑色导航栏字体颜色,边距 */
 .content{
   padding-left: 4px;
   padding-right: 4px;
    text-decoration: none; 
    color: #b0b0b0;
 } 
 /* 设置消息通知左边距+10 */
 .right_ul.message{
     padding:0 10px;
     
 }
 /* 对购物车进行设置 */
 .cart{
    position: relative;
    float: right;
    width: 120px;
    height: 40px;
    margin-left: 15px;
    -webkit-transition: all .2s;
    transition: all .2s;       /*  变换效果 */ 
 }
.container::after{
    clear: both;
    content: " ";
    display: table;
}
/* 对于购物车的设置 */
.cartset{
    position: relative;
    text-decoration: none;
z-index: 32;
display: block;
height: 40px;
line-height: 40px;
text-align: center;
color: #b0b0b0;
background: #424242;
}
.hidden{
     position: absolute;
right: 0;
top: 40px;
z-index: 31;
width: 316px;
height: 80px;
color: #424242;
background: #fff;
-webkit-box-shadow: 0 2px 10px rgba(0,0,0,.15);
box-shadow: 0 2px 10px rgba(0,0,0,.15);
 overflow: hidden;         /*如果显示元素溢出，则会进行内容修剪，使内容不可见 */
-webkit-transition: height .3s;
transition: height .3s;
display: none;
}
.cart:hover>.hidden{
    display: block;

}
.hidden_cart{
    text-align:center;
    line-height: 80px;
}
/* 当鼠标划过的时候是白色字体 */
.content:hover{
    color: white;
    text-decoration: none;
}
/* 点击购物车变黄色 */
.cartset:hover{
    color: darkorange;
    background-color: white;
}
/* 对于白色导航栏的设置 */
.white-header{
    position: relative;
    z-index: 20;
    height: 100px;
}
/* 米家logo的处理 */
.mijia{
    position: relative;
    float: left;
    width: 110px;
    height: 50px; 
    margin-top: 22px;
}
.logo-mi{
    position: absolute;
    display: block;
    width: 55px;
    height: 50px;
    overflow: hidden;
    background-color: #ff6700;
    background-image: url("mi-logo.png") ;
}
.logo-home{
    position: absolute;
    margin-left: 55px;
    width: 55px;
    height: 50px;
    background-image: url("mi-home.png");
}
.logo-mi:hover{
    background-image: url("mi-home.png");
}

.head-nav{
    float: left;
    width: 850px;
    height: 100px;
}
.empty{
    position: relative;
    float: left; 
    width: 127px;   
    height: 88px;
    padding-right: 15px;
}
/* 对文字进行位置设置 */
.nav-list{
     position: relative;
z-index: 10;
float: left;
width: 1100px;
height: 88px;
margin: 0;
padding: 12px 0 0 30px;
list-style-type: none;
font-size: 16px;
}
.nav-item{
    float: left;
    transition: height 2s;
}
.link{
color:#000000;;
display: block;
padding: 26px 10px 38px;
*padding: 26px 8px 38px;
color: #333;
text-decoration: none; 
-webkit-transition: color .2s;
transition: color .2s;
}
.nav-item :hover{
    color: darkorange;
}
.nav-item:hover .hidden-slide-down{
    display: block;
}
/* 搜索框的设置 */
.search{
    float: right;
    width: 296px;
    height: 50px;
    margin-top: -70px;
}
.search-form{
    position: relative;
width: 296px;
height: 50px;
z-index: 20;
}
.search-text{
    right: 51px;
z-index: 1;
width: 245px;
height: 50px;
padding: 0 10px;
font-size: 14px;
line-height: 48px;
}
.search-button{
    right: 0;
z-index: 2;
width: 52px;
height: 50px;
font-size: 24px;
line-height: 24px;
background: #fff;
color: #616161;
position: absolute;

top: 0;

border: 1px solid #e0e0e0;

outline: 0;

-webkit-transition: all .2s;

transition: all .2s;
}
.search-hot-word{
    position: absolute;
top: 14px;
right: 62px;
z-index: 2;
text-align: right;
-webkit-transition: opacity .2s;
transition: opacity .2s;
}
.word{
    display: inline-block;
    text-decoration: none; 
    margin-left: 5px;   
    padding: 0 5px;   
    font-size: 12px;    
    background: #eee;   
    color: #757575;    
    -webkit-transition: all .2s;   
    transition: all .2s;
}
.word:hover{
    background-color:#ff6624 ;
    color: white;
}
.search-button:hover{
    background-color:#ff6624 ;
}
.search-btn:hover{
    color: white;
    background-color:#ff6024 ;
}
/* 对于搜索图标的设置 */
.search-btn{
    right: 0;
    z-index: 2;
    width: 52px;
    height: 50px;
    font-size: 24px;
    line-height: 24px;
    background-image: url("search.png");
    background: #fff;
    color: #616161; 
    position: absolute;
top: 0;
border: 1px solid #e0e0e0;
outline: 0;
-webkit-transition: all .2s;
transition: all .2s;
}
/* 对于主页面的设置 */
.home-hero-container{
    width: 1226px;
    height: 670px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.container::before{
    content: " ";
    display: table;
}
.home-hero{
    position: relative;;
    height: 644px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 26px;
}
.swiper-container{
    position: relative;
    height: 460px;  
    margin: 0 auto;
    list-style: none;
    padding: 0;
    z-index: 1;
}
/* 设置滑动门隐藏内容 */
.door-hidden{
    position:absolute;
    width: 992px;
    height: 460px;
    background-color: #fff;
    top: 0;
    left: 234px;
    box-shadow: 5px 5px 5px 3px #dad7d7;
    display: none;
    z-index: 50;
    float: left;
}
.door-item:hover .door-hidden{
    display: block;
}
.swiper{
width: 100%;
height: 100%;
z-index: 1;
display: flex;
background-size: 1226px 460px;
background-image: url("lunbo1.jpg");
animation: swiper 15s ;
animation-iteration-count:infinite;
}
@keyframes swiper{
    0%{
        background-image: url("lunbo1.jpg"); 
    }20%{
        background-image: url("lunbo2.jpg"); 
    }40%{
        background-image: url("lunbo3.jpg"); 
    }60%{
        background-image: url("lunbo4.jpg"); 
    }80%{
        background-image: url("lunbo5.jpg"); 
    }100%{
        background-image: url("lunbo1.jpg"); 
    }
}
/* 对滑动门的设置 */
.sliding-door{
width: 234px;
height: 460px;
background:rgba(0,0,0,0.5);
box-align: border-box;
}
.d-item{
    list-style-type: none;
    line-height: 40px;
    text-align: left;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 0px;
    /* border: 0; */
}
.link1{
    position: relative;
    display: block;
    padding-left: 30px;
    text-decoration: none; 
    font-size: 15px;
    color: white;
}
.door-item:hover{
    background-color: #ff6724;
}
.circle-btns{
    width: 400px;
    height: 21px;
left: auto;
right: 34px;
bottom: 13px;
text-align: right;
position: absolute;
text-align: center;
-webkit-transition: opacity .3s;
transition: opacity .3s;
-webkit-transform: translateZ(0);
transform: translateZ(0);
z-index: 10;
display: block;
}
.circle-btn{
float: right;
width: 6px;
height: 6px;
border: 2px solid rgb(170, 168, 168);
border-radius: 5px;
background-color: rgba(0, 0, 0, 0.336);
opacity: 1;
margin-left: 8px;
}
.circle-btn:hover{
    background-color: rgba(255, 255, 255, 0.637);
}
.arrow-left,.arrow-right{
    width: 41px;
    height: 69px;
    background:url("icon-slides.png");
    position: absolute;
    top: 50%;
    margin-top: -34.5px;
cursor: pointer;    
}
.arrow-left{
    left: 234px;
    background-position: -83px 0;

}
.arrow-right{
    right: 0;
    background-position: -124px 0;
}
.arrow-left:hover{
    background-position: 0 0;
}
.arrow-right:hover{
    background-position: -42px 0;
}
/* 对于轮播图下面广告位的设置 */
.below-swiper{
    width: 1226px;
    height: 170px;
    margin-top: 14px;
    margin-left: -14px;

}
.first-below{
    width: 234px;
    height: 170px;
    float: left;
margin-left: 14px;
min-height: 1px;
position: relative;
}
.content-lists{
    position: absolute;
    width: 234px;
    height: 170px;
    margin: 0;
padding: 3px;
list-style-type: none;
text-align: center;
background: #5f5750;
}
.content-lists>li{
    border-width: 3px;
    border-color: #5f5750;
    margin-top: 10px;
    font-size: 14px;
    width: 76px;
    height: 82px;
    color: rgb(199, 188, 188);
    float: left;
}

.content-lists>li:hover{
    color: #eee;
    cursor: pointer; 
}
.others-below{
    position: absolute;
    width: 1226px;
    height: 170px;
    float: left;
    margin-left:260px;;
   
}
.below-img{
    width: 316px;
    height: 170px;
    margin-left: 8px;
    cursor: pointer; 
}
/* 对主页面内容的设置 */
.home-main{
    position: relative;
    padding-top: 4px;
    padding-bottom: 12px;
    width: 100%;
    height: 2660px;
    margin: 0 auto;
    
}
.page-main{
    width: 100%;
    background: #f5f5f5;
}
.main-container{
    width: 1226px;
    height: 6019px;
    margin: 0 auto;
    color: #333;
}
.home-flashsale{
    margin-bottom: 22px;
position: relative;
width: 1226px;
height: 398px;

}
.box-hd{
    position: relative;
height: 58px;

}
.box-hd.title{
    margin: 0;
    margin-bottom: 0px;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    position: relative;
}
.title{
    font-weight: lighter
}
.hd-arrow{
    position: absolute;
    top: 24px;
    float: right;
    margin-left: 1100px;
}
.hd-arrow>span{
    display: inline-block;
    width: 24px;
    height: 16px;
    padding: 3px 5px;
    margin-left: -1px;
    border: 1px solid #e0e0e0;
    font-size: 20px;
    line-height: 15px;
    -webkit-transition: color .5s;
    transition: color .5s;
    color: #b0b0b0;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.hd-arrow>span:hover{
    color: #ff6700;
}
.row{
    margin-left: -14px;
}
.home-flashsale .time{
    border-top-color: #e53935;  
    width: 234px;
    height: 300px;
padding-top: 39px;
border-top-width: 1px;
border-top-style: solid;
background: #f1eded;
text-align: center;
}
.round{
    font-size: 21px;
color: #ef3a3b;
padding-top: 15px;
}
.time img{
    margin: 25px auto;
}
.time.desc{
    color: rgba(0,0,0,.54);
font-size: 15px;
}
.countdown{
    width: 168px;
    height: 46px;
margin: 28px auto 0;
}
.countdown span{
    width: 46px;
height: 46px;
background: #605751;
color: #fff;
font-size: 24px;
line-height: 46px;
float: left;
}
.countdown i{
    width: 15px;
float: left;
height: 46px;
line-height: 46px;
color: #605751;
font-size: 28px;
font-style: normal;
}
.home-flashsale .flash-contents{
    top: -340px;
    float: right;
}
.home-flashsale .swiper-wrapper{
    margin: 0;
padding: 0;
height: 340px;
}
.flash-contents{
    margin-left: 14px;
    width: 978px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-wrapper{
    text-decoration: none;
    list-style: none;
    position: relative;
width: 100%;
height: 100%;
z-index: 1;
display: flex;
box-sizing: content-box;
}
.swiper-slider{
    width: 234px;
    height: 100%;
margin-right: 14px;
border-top-width: 1px;
border-top-style: solid;
text-align: center;
background: #fff;
position: relative;
list-style: none;
}
.home-flashsale .flash-contents li:first-child{
    border-top-color: #ffac13;
}
.home-flashsale .flash-contents li:nth-child(2){
    border-top-color: #83c44e;
}
.home-flashsale .flash-contents li:nth-child(3){
    border-top-color: #2196f3;
}
.home-flashsale .flash-contents li:last-child{
    border-top-color: #e53935;
}
.home-flashsale .flash-contents li{
    text-align: center;
list-style: none;
}
.home-flashsale .flash-contents li a{
    display: block;
height: 300px;
padding-top: 39px;
position: relative;
color: #757575;
background-color: transparent;
}
.home-flashsale .flash-contents .thumb{
    display: block;
width: 160px;
margin: 0 auto 22px;
}
.home-flashsale .flash-contents .title{
    margin: 0 20px 3px;
font-size: 14px;
font-weight: 400;
text-overflow: ellipsis;
color: #212121;
overflow: hidden;
white-space: nowrap;
}
.home-flashsale .flash-contents .desc{
    height: 18px;
margin: 0 20px 12px;
font-size: 12px;
text-overflow: ellipsis;
color: #b0b0b0;
}
.home-flashsale .flash-contents .price{
    margin: 0;
color: #ff6709;
}
.home-flashsale .flash-contents .price del{
    color: #b0b0b0;
}
.swiper-content{
    text-decoration: none;
}
.home-banner{
    margin-left: -12px;
    height: 120px;
margin-top: 22px ;
margin-bottom: 22px ;
position: relative;
}
.home-banner img{
width: 100%;
height: 100%;
position: absolute;
    text-decoration: none;
    color: #757575;
    background-color: transparent;
}
/* 手机模块设置开始 */
.phone-box{
    margin-bottom: 8px;
    width: 1226px;
    height: 686px;
}
.phone-box .box-hd{
    margin-left: -12px;
    position: relative;
height: 58px;
}
.phone-box .box-hd .title{
    margin: 0;
font-size: 22px;
font-weight: 200;
line-height: 58px;
color: #333;
}
.phone-box .box-hd .more ,.video-box .box-hd .more{
    position: absolute;
top: 0;
right: 0;
}
.phone-box .box-hd .more .more-link , .video-box .box-hd .more .more-link{
    font-size: 16px;
line-height: 58px;
color: #424242;
text-decoration: none;
transition: all .4s;
}
.phone-box .box-hd .more .more-link .iconfont ,.video-box .box-hd .more .more-link{
    width: 12px;
    height: 12px;
    padding: 4px;
    margin-left: 8px;
    border-radius: 16px;
    font-size: 12px;
    line-height: 12px;
    background: #b0b0b0;
    color: #fff;
    vertical-align: 1px;      /*垂直对齐*/
    transition: all .4s;
}
.door-item .iconfont-arrow-right-big{
    float: right;
    margin-right: 10px;
}
.iconfont-arrow-right-big::before{
    content: "\e603"
}
.phone-box .box-hd .more .more-link:hover {
 color:#ff6624;
}
.phone-box .box-hd .more .more-link .iconfont:hover ,.video-box .box-hd .more .more-link:hover{
  background-color: #ff6624;
}
.big-promo{
    width: 234px;
    float: left;
    min-height: 1px;
}
.promo1{
    margin: 0 0 -14px -14px;
    /* height: 614px; */
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.brick-item-l{
    height: 614px;
}
.promo1 a{
    display: block;
    width: 100%;
    height: 100%; 
    color: #757575;
}
.promo1 .brick-item img{
    height: 614px;
    width: 234px;
    border: 0;
}
.box-bd{
    margin-left: -12px;
}
.other-promo{
    /* position: relative; */
    width: 978px;
    float: left;
    
    margin-top: -118px;
    margin-left: 14px;
    min-height: 1px;
}

.brick-list{
    /* position: absolute; */
    width: 992px;
    height: 614px;
    padding: 0;
    list-style-type: none;
    
}
.phone-box .brick-list{
    margin: 0 0 -14px 0px;
}
.clearfix::before{
    content: "";
    display: table;
}
.clearfix::after{
    content: "";
    display: table;
}
.brick-item{
    /* position: relative; */
    z-index: 1;
    float: left;
    width: 234px;
    margin-left: 14px;
    margin-bottom: 14px;
    background: #fff;
    transition: all .2s linear;  /*线性的*/
    text-decoration: none;
}
.phone-content{
    text-decoration: none;
}
.brick-item-m{
    height: 246px;
    padding: 34px 0 20px;
}
.btick-item-m-2 .title{
    margin: 0 10px 2px;
}
.brick-item-m .title, .brick-item-m .desc{
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap; /*遇到空白后直到遇到<br>才换行*/
    overflow: hidden;
}
.brick-item-m .title{
    margin: 0 10px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
.brick-item-m .desc{
    margin: 0 10px 10px;
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
}
.btick-item-m-2 .price{
    margin: 0 10px 14px;
}
.brick-item-m .price{
    margin: 0 10px 10px;
    text-align: center;
    color: #ff6700;
}
.brick-item-m .price del{
    margin-left: .5em;
    color: #b0b0b0;
}
.phone1{
    margin-left: 35px;
}
[class^=brick-item]:hover{
    margin-top: -2px;
    box-shadow:  0 6px  8px 6px #cfcfcf;
}

/* 手机模块设置结束，家电模块设置开始 */
.tv-box{
    margin-bottom: 8px;
    width: 1226px;
    height: 686px;
}
.tv-box .box-hd .more{
    position: absolute;
    top: 0;
    right: 0;
}
.tab-list{
    margin: 0;
    /* float: right; */
    padding: 16px 0 0;
    list-style-type: none;
    font-size: 16px;
}
.tab-list li{
    margin: 0 0 0 30px;
    display: inline-block;
    padding: 0;
    margin: 0 15px;
    color: #424242;
    border-bottom: 2px solid #f5f5f5;
    border-bottom: 2px solid transparent; /*透明的*/
    transition: border .3s;
    cursor: pointer;
}
.tab-list :hover{
    color: #ff6700;
    border-bottom: 2px solid #ff6700; 
}
.promo1 .brick-item-m-3 img{
    width: 100%;
    height: 100%;;
}
.tv-box .box-bd .row .other-promo{
    margin-top: -14px;
}
.tv-content{
    position: absolute;
  margin-top: -30px;
  margin-left: 8px;
  text-decoration: none;
}
.s-content{
    margin-top: 15px;
    font-size: 12px;
    position: absolute;
    text-decoration: none;
}
.brick-item-s{
    width: 234px;
    height: 143px;
}
.brick-item-s .title{
    width: 100px; 
    margin: 10px 10px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
.brick-item-s .desc{
    margin: 10px 10px 10px;
    height: 18px;
    width: 50px;
    font-size: 12px;
    color: #b0b0b0;
}
.brick-item-s .price{
    margin: 10px 10px 10px;
    /* text-align: center; */
    color: #ff6700;
}
.title-big{
    width: 105px;
    color: #333;
    margin: 10px 10px;
}
.s-img {
    margin-top: -70px;
    margin-left: 120px;
}
.s-content .icon-roundArrRight-stroke{
    position: absolute;
    margin-left: 130px;
   font-size: 80px;
    color: #ff6624;
}
.icon-roundArrRight-stroke{
    margin-top: -80px;
}
.last-s{
    font-size: 17px;
    margin-top: 30px;
    margin-left: 25px;
}
/* 家电模块结束，视频模块开始 */
.video-box .box-bd .video-list{
    list-style-type: none;
    width: 1226px;
    height: 285px;
    padding: 0;
    margin: 0;
    position: absolute;
}
.video-box{
    height: 357px;
    position: relative;
}
.video-box .video-item:first-child{
    margin-left: 0px;
}
.video-item{
    position: relative;
    float: left;
    width: 296px;
    margin-left: 14px;
    margin-bottom: 14px;
    text-align: center;
    background-color: #fff;
    transition: all .2s linear;
}
.video-item-m{
    height: 285px;
}
.video-content{
    position: absolute;
    margin-left: -148px;
text-decoration: none;
}
.video-item-m .figure-img{
    position: relative;
    width: 296px;
    height: 180px;
    margin: 0 0 28px;
}

.video-item-m .play{
    position: absolute;
    left: 250px;
    bottom: 8px;
    color: #fff;
    transition: all .2s;
    overflow: hidden;
}
.video-item-m .title{
    display: inline;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.video-item-m .desc{
    font-size: 12px;
    color: #b0b0b0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.video-box .icon-icon-test{
    z-index: 5;
    font-size: 30px;
    font-weight: 500px;
}
[class^=video-item]:hover{
    margin-top: -2px;
    box-shadow:  0 6px  8px 6px #cfcfcf;
}
.video-box .icon-icon-test:hover{
    color: #ff6700;
}
/* 对于页脚的设置 */
.site-footer .footer-service{
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}
.site-footer .list-service{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.site-footer .list-service li:first-child{
    border-left: 0;
}
.site-footer .list-service li{
    float: left;
    border-left: 1px solid #e0e0e0;
    width: 19.8%;
    height: 25px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}
.site-footer .list-service a{
    text-decoration: none;
    color: #616161;
    transition: color .2s;
}
.site-footer{
    position: relative;
    width: 100%;
height: 272px;
margin: 0 auto;
}
.col-link{
    float: left;
    width: 160px;
    height: 112;
    margin: 0;
}
.footer-link{
padding: 40px 0;
}
.site-footer .footer-link .col-link dt{
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}
.site-footer .footer-link .col-link dd{
    color: #757575;
    margin: 10px 0 0;
    font-size: 12px;
}
.site-footer .footer-link .col-contact{
    border-left: 1px solid #e0e0e0;
    width: 252px;
    height: 112px;
    font-size: 12px;
    color: #757575;
    float: right;
    text-align: center;
}
.site-footer .footer-link .col-contact .phonenumber{
    margin: 0;
    font-size: 20px;
    color: #ff6724;
}

.site-info .left_ul{
    margin-top: -13px;
position: relative;
    margin-bottom: 0;
   margin-left: 55px;
    font-size: 12px;
    height: 19px;
}
.site-info .left_ul .content{
    color: #333;
}
.info-text .end{
    margin-left: 56px;
    margin-top: 12px;
    position: absolute;
    color: #b0b0b0;
    line-height: 18px;
    font-size: 11px;
    width: 1159px;
    height: 72px;;
}

.site-info .container{
    position: relative;
    height: 100px;
}
.site-info .slogan{
    width: 267px;
    height: 19px;
    background-image: url("slogan.png");
    margin: 0 auto;
    clear: both;
    position: absolute;
  margin-left: 713px;
  color: #b0b0b0
}
.list-service a:hover{
color: #ff6709
}
.list-service li:hover{
    color: #ff6709;
}
.footer-link .col-link dd:hover{
color: #ff6709;
cursor: pointer;
}
.col-contact .content:hover{
color: #ff6709;
}
.site-info .content:hover{
    color: #ff6709;
}
.home-tool-bar{
    position: fixed;
    bottom: 70px;
right: 0;
z-index: 99;
}
.home-tool-bar .item{
position: relative;
display: block;
width: 82px;
height: 90px;
margin-top: -1px;
background-color: #fff;
border: 1px solid #f5f5f5;
text-align: center;
text-decoration: none;
}
.home-tool-bar .icon{
    position: relative;
    margin: 0 auto 8px;
}
.home-tool-bar .item .text{
    color: #757575;
    transition: color .3s;
}
.home-tool-bar .iconfont-bar{
    font-size: 40px;
    color: #b0b0b0;
}
.home-tool-bar .item :hover{
    color: #ff6700;
}
.home-tool-bar .pop-content{
    position: absolute;
    left: 0;
    top: 0;
    padding: 14px;
    background: #fff;
    border: 1px solid #f5f5f5;
    transition: opacity .3s;
    transform: translateZ(0);
    opacity: 0;
    visibility: hidden;
}
.pop-content img{
    display: block;
    width: 100px;
    height: 100px;
    margin: 6px auto;
}
.pop-content .desc{
    display: block;
    width: 82px;
    margin: 14px auto 0;
    color: #757575;
    text-align: center;
}
.home-tool-bar .item .pop-content::before{
    right: -19px;
border-color: transparent transparent transparent #f5f5f5;
z-index: 1;
}
.home-tool-bar .item .pop-content::after{
    right: -18px;
    border-color: transparent transparent transparent #fff;
    z-index: 2;
}
.hidden-slide-down{
    position: absolute;
    top:100px;
    left: -228px;
    z-index: 99;
    width: 1226px;
    height: 250px;
    border-top: 1px solid #e0e0e0;
    background: #fff;
    overflow: hidden;
    box-shadow: 10px 3px 5px #c5c4c4;
    animation: banner-down 1s ;
   display: none;
}
@keyframes banner-down{
    from{
opacity: 0;
    }
    to{
opacity: 1;
    }
}
.door-hidden-list{
    float: left;
    list-style-type: none;
padding: 5px;
    margin-top: 10px;
    /* margin-left: 10px; */
}
.door-hidden-list .hidden-item{
    float: left;
    padding-left: 90px;
    margin-top: 20px;
}
.door-hidden-list a{
    /* padding-left: 5px; */
    font-size: 12px;
    color: #212121;
}
.door-hidden-list :hover{
    color: #ff6709;
}
.hidden-code-container{
width: 124px;
height: 148px;
position: absolute;
top: 40px;
left: 50%;
background-color: white;
margin-left: -95px;
box-shadow: 0 1px 5px #aaa;
text-align: center;
font-size: 14px;
color: #333;
line-height: 1;
display: none;
/* overflow: hidden; */
transition: height .3s;
}
.hidden-code{
    position: absolute;
top: 20px;
left: 0;
width: 124px;
height: 0;
background: #fff;
}
.content-hidden:hover .hidden-code-container{
    /* overflow: visible; */
    display: block;
}
.door-hidden-list:nth-child(4) ,.door-hidden-list:nth-child(8) .door-hidden-list:nth-child(12) .door-hidden-list:nth-child(16) .door-hidden-list:nth-child(20){
    float: right;
}
.children-list{
    list-style-type: none;
    font-size: 12px;
}
.children-list li{
    float: left;
    position: relative;
    width: 180px;
    text-align: center;
    padding: 35px 0px 0;
    
}
.children-list .figure-thumb .no-border{
    border: 0;
}
.children-list a{
    text-decoration: none;
}
.children-list .figure-thumb{
    width: 160px;
    height: 110px;
    margin: 0 auto 16px;
    text-align: center;
}
.children-list .figure-thumb img{
    width:160px;
    height: 110px;
    border-left: 1px solid #adacac;
}
.children-list .title{
    color: #333;
    margin: 0;
    line-height: 20px;
}
.children-list .price{
    color: #ff6700;
    margin: 0;
    line-height: 20px;
}

